@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;

		--foreground: 0 0% 3.9%;

		--card: 0 0% 100%;

		--card-foreground: 0 0% 3.9%;

		--popover: 0 0% 100%;

		--popover-foreground: 0 0% 3.9%;

		--primary: 0 0% 9%;

		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;

		--secondary-foreground: 0 0% 9%;

		--muted: 0 0% 96.1%;

		--muted-foreground: 0 0% 45.1%;

		--accent: 0 0% 96.1%;

		--accent-foreground: 0 0% 9%;

		--destructive: 0 84.2% 60.2%;

		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 89.8%;

		--input: 0 0% 89.8%;

		--ring: 0 0% 3.9%;

		--chart-1: 12 76% 61%;

		--chart-2: 173 58% 39%;

		--chart-3: 197 37% 24%;

		--chart-4: 43 74% 66%;

		--chart-5: 27 87% 67%;

		--radius: 0.5rem;
	}
	.dark {
		--background: 0 0% 3.9%;

		--foreground: 0 0% 98%;

		--card: 0 0% 3.9%;

		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;

		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;

		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;

		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;

		--muted-foreground: 0 0% 63.9%;

		--accent: 0 0% 14.9%;

		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;

		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;

		--input: 0 0% 14.9%;

		--ring: 0 0% 83.1%;

		--chart-1: 220 70% 50%;

		--chart-2: 160 60% 45%;

		--chart-3: 30 80% 55%;

		--chart-4: 280 65% 60%;

		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	/* Navigation */
	.navigation-item {
		@apply text-white text-[11px] text-center flex w-full h-[75px] flex-col justify-center items-center hover:bg-[#8A38F5] transition-all hover:brightness-110;

		&[aria-current] {
			@apply bg-[#8A38F5];
		}

		img {
			@apply mb-2;
		}
	}

	/* SearchForm */

	.search-form {
		@apply flex flex-nowrap relative bg-transparent border-solid border-white border-[1px] rounded-lg w-[368px] h-10;

		input {
			@apply w-full bg-transparent pl-4 pr-11 text-white text-[15px] placeholder:text-white placeholder:text-[15px] rounded-lg;

			&.has-query {
				@apply pr-[84px];
			}
		}
	}

	/* Filter */

	.dropdown-item {
		@apply hover:bg-[#8A38F5] hover:brightness-125 text-white text-[13px] rounded-none px-4 cursor-pointer transition-all;

		&[data-highlighted], &[data-state="checked"] {
			@apply bg-[#8A38F5] hover:bg-[#8A38F5] text-white hover:text-white;
		}
	}

	/* Project */

	.project {
		@apply flex items-center mb-[10px] min-h-[63px] pl-10 pr-[9px] rounded-lg;
	}
	.project.new-project {
		@apply bg-[#5E404B] even:bg-[#50323c] border-solid border-[#E9335F] border-[1px];
	}

	.project.in-progress {
		@apply bg-[#3D2F63] even:bg-[#49397A] border-solid border-[#8A38F5] border-[1px];
	}

	.project.finished {
		@apply bg-[#4D405E] even:bg-[#3D334D];
	}

	.project-name {
		@apply text-white font-medium text-[17px] min-w-[86px];
	}

	.project-completion {
		@apply text-[#A08EAE] font-medium text-[20px] ml-[10px] mr-[24px] min-w-[50px] text-right;
	}

	.project-id {
		@apply text-[#A08EAE] text-[11px];
	}

	.project-download {
		@apply text-white font-medium text-[15px] rounded-lg flex flex-nowrap border-solid border-white border-[1px] px-[14px] py-[8px] ml-[25px];
	}

	.project-info {
		@apply text-[#A08EAE] flex flex-nowrap gap-2 items-center text-[11px] ml-auto;
	}

	.project-status {
		@apply text-white text-right font-medium text-[13px] rounded-lg py-[3px] px-[10px];
	}

	.project-status.new-project {
		@apply bg-[#E9335F];
	}

	.project-status.in-progress {
		@apply bg-[#8A38F5];
	}

	.project-status.finished {
		@apply bg-[#A08EAE] text-[#30273F];
	}

  .loop-wrapper {
    @apply !mb-[15px] !mt-0 last-of-type:!mb-[33px] bg-[#372D48] rounded-lg p-[5px];
  }

  .loop-title {
    @apply text-white text-[11px] px-[10px] py-2 rounded-lg bg-[#9B2BF2] flex items-center;

    img {
      @apply mr-2;
    }
  }

	/* Main */

	.main-container {
		@apply ml-[159px] mr-[120px] bg-[#2F1255] bg-opacity-30 rounded-[20px] pt-7 px-[15px] pb-[65px];
	}

	.h1 {
		@apply font-semibold text-white text-[35px] leading-none ml-[14px];
	}
}
